# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.GE2 Test 2022 Starter Unity.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\35389\Desktop\Copy\Games-Engines-2-Lab-Test\GE2-Test-Starter\GE2 Test 2022 Starter Unity\.idea\.idea.GE2 Test 2022 Starter Unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
